@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Lato", "sans-serif";
    background-color: #0F1218;
}

.logo{
  display: inline-flex;
  height: 3rem/* 48px */;
  min-height: 3rem/* 48px */;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, 0.5rem/* 8px */);
  border-color: transparent;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  text-align: center;
  font-size: 0.875rem/* 14px */;
  line-height: 1em;
  gap: 0.5rem/* 8px */;
  font-weight: 600;
  background-color: transparent;
}

.logo:hover{
  background-color: transparent;
  border: 1px solid transparent;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem/* 16px */);
}
.card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.card figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.image-full {
  display: grid;
}
.card.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  border-radius: var(--rounded-box, 1rem/* 16px */);
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));
  opacity: 0.75;
}
.card.image-full:before,
  .card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.card.image-full:before,
  .card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.card.image-full > figure img {
  height: 100%;
  object-fit: cover;
}
.card.image-full > .card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity)));
}
.card :where(figure:first-child) {
  overflow: hidden;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: unset;
  border-end-end-radius: unset;
}
.card :where(figure:last-child) {
  overflow: hidden;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}
.card:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.card.bordered {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));
}
.card.compact .card-body {
  padding: 1rem/* 16px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.card.image-full :where(figure) {
  overflow: hidden;
  border-radius: inherit;
}

.c {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}
.c:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.c figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c.image-full {
  display: grid;
}
.c.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));
  opacity: 0.75;
}
.c.image-full:before,
  .c.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.c.image-full:before,
  .c.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.c.image-full > figure img {
  height: 100%;
  object-fit: cover;
}
.c.image-full > .card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity)));
}
.c :where(figure:first-child) {
  overflow: hidden;
  border-start-start-radius: 8px;
  border-start-end-radius:  8px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}
.c :where(figure:last-child) {
  overflow: hidden;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}
.c:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.c.bordered {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));
}
.c.compact .card-body {
  padding: 1rem/* 16px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.c.image-full :where(figure) {
  overflow: hidden;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border-left: 2px solid transparent;
    box-shadow: 0px 0px 21px 0px #5045e42d inset;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    box-shadow: 0px 0px 10px 0px #545A69 inset;
    border-radius: 8px;
}

::selection {
    background-color: #5045e42d;
    opacity: 0.2;
    color: #A6ADBB;
}